html, body{
background: url(../images/about.jpg) no-repeat center center fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}


.col-sm-8{
height:145px;
# background-color:red;
display:inline-block;
color:white;
}
.col-4{
height:45em;
color:white;
}
#me{
height:280px;
width:240px;
color:white;
display:inline-block;
margin-left:7em;
margin-top:2em;
border-radius: 50%;
}
.intro{
color:white;
text-align:center;
margin-top:25px;
}
#btn2{
width:80px;
height:80px;
text-align:center;
padding-top:28px;
margin-top:2em;
border-radius:50%;
color:white;
background-color:#ff4d4d;
}
.btn {
color:white;
font-family:'Bungee Inline', cursive;
}
.btn:hover {
    background-color:white;
    color:black;
}
a:hover {
text-decoration:none;
color:white;
}

#heading{
margin-top:1em;
}
#content{
font-size:1.2em;
font-family: 'Raleway', sans-serif;
}

#carouselExampleIndicators
{
    width:20px;
    height:50px;
}
