.jumbotron {
    background-color:   #e6b800;
    color: black;
}

#myviews{
    font-family:'Playfair Display', serif;
}

#exp{
    font-family: 'Amatic SC', cursive;
}

#av{
    height: 60%;
    width: 50%;
}
.whiten {
    font-family: 'Roboto Slab', serif

}
#detail{
 color:white;
    font-family: 'Karla', sans-serif;
 }
 #company{
 font-family: 'Shadows Into Light', cursive;
  color:white;
 }



#donna{
height: 60%;
width: 60%;
}









