{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>Connect with me</title>

 <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/connect.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Stalemate&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo:200" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <!--  <div class="container">
        <div id="one"><a href="#"><img src="/static/images/github_logo.png" ></a></div>
        <div id="two"><a href="#"><img src="/static/images/github_logo.png"></a></div>
        <div id="three"><a href="#"><img src="/static/images/github_logo.png"></a></div>
    </div>
    <div class="container">
  <div class="row justify-content-end">
    <div class="col-4">
     <a href="#"><img src="/static/images/github_logo.png" class="img-responsive"></a>
    </div>
    <div class="col-4">
      <a href="#"><img src="/static/images/github_logo.png" class="img-responsive"></a>
    </div>
    <div class="col-4">
      <a href="#"><img src="/static/images/github_logo.png" class="img-responsive"></a></
    </div>
  </div>
</div>!-->
   <!-- <div class="row1"><a href="#"><img src="/static/images/github_logo.png" class="img-responsive"></a></div>
    <div class="row1"><a href="#"><img src="/static/images/quora.jpg" class="img-responsive"></a></div>
    <div class="row1"><a href="#"><img src="/static/images/quora.jpg" class="img-responsive"></a></div>!-->
<div class="container">
    <div id="but"><a href="{% url 'home' %}" ><button type="button" class="btn btn-md">HOME</button></a></div>
<div class="container-fluid text-center">
  <h2 style="font-family: 'Raleway', sans-serif; color:white"><strong>MY PROFILES</strong></h2>
  <h4 style="font-family: 'Raleway', sans-serif; color:white"><strong>LET'S SYN-ACK</strong></h4>
  <br>
    <br>
    <br>
  <div class="row">

    <div class="col-sm-4">
        <a href="https://github.com/namanvats"><span class="glyphicon"><img src="/static/images/github_logo.png" class="img-responsive img-circle"></span>
            <p>All my open source repositories...</p></a>
    </div>

      <div class="col-sm-4">
        <a href="https://www.quora.com/profile/Naman-Vats"><span class="glyphicon"><img src="/static/images/quora_logo.png" class="img-responsive img-circle"></span>
            <p>Like to share my knowledge...</p></a>
      </div>

      <div class="col-sm-4">
        <a href="mailto:way2naman13@gmail.com?Subject=Hello"><span class="glyphicon"><img src="/static/images/gmail_logo.png" class="img-responsive img-circle"></span>
            <p>Reach out through e-mail...</p></a>
      </div>

    </div>
    <br><br><br><br>
   <div class="row">

    <div class="col-sm-4 mt-1">
        <a href="https://www.codechef.com/users/the_shifu"><span class="glyphicon"><img src="/static/images/codechef_logo.jpg" class="img-responsive img-circle"></span>
            <p>Tested my skills in there...</p></a>
    </div>

      <div class="col-sm-4">
        <a href="https://www.hackerearth.com/@way2naman13"><span class="glyphicon"><img src="/static/images/hackerearthlogo.png" class="img-responsive img-circle"></span>
            <br><p>Code Monk is an awesome source..</p></a>
      </div>

      <div class="col-sm-4">
        <a href="https://www.spoj.com/users/escobar/"><span class="glyphicon"><img src="/static/images/spoj_logo.png" class="img-responsive img-circle"></span>
            <br><p>Learned Binary Search From Here..</p></a>
      </div>

    </div>
</div>

</div>
</body>
</html>